*~
*#
.#*
_*
*.agdai
*.aux
*.bbl
*.bcf
*.blg
*.class
*.dvi
.DS_Store
*.fdb_latexmk
*.fls
*.hi
*.iml
*.log
*.nav
*.o
*.out
*.pdf
*.prv
*.ps
*.pyc
*.run.xml
*.snm
*.synctex.gz
*.toc
*.tmp.nlogo
*.vrb
*.zip

**/.auctex-auto
**/.idea
**/.ipynb_checkpoints
**/results
